.wrapper {
	max-width:600px;
}

.grid {
	background-color:rgba(0,0,0,0.1);
	grid-gap: 1em;
	margin: 0 0 2em 0;
}

.grid div {
	/*background-color:rgba(0,0,0,0.1);*/
}

.nice-image {
	width: 100%;
	height: auto;
	display: block;
}

.book {
	margin-top: 2em;
}

.book h2 {
	font-family: 'Oxanium'
	font-weight: 700;
	font-size: 2em;
	margin-left: 1em;
}

.book-nav {
	text-align: center;
}

.book .width-12-12 {
	background-color: #000;
	color: #d6d6d6;
}

.credits{
	margin-left: 1em;
}